#container{
	width: 204px;
	height: 350px;
    border: 1px solid #666666;
}
#container div{
	display: none;
}
#container ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#container ul li{
	float: left;
	width: 50px;
	height: 20px;
	text-align: center;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
#container ul li a{
	display: inline-block;
	text-decoration: none;
	width: 50px;	
}
#container ul li a:link{
	background-color: #FF7F50;
}
#container ul li a:hover{
	background-color: #FFFFFF;
}
#container ul li a:visited{
	background-color: #FFFFFF;
}
.aaa{
	line-height: 21px;
	border-bottom:0px solid #FFFFFF;
}
 j